# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Compressed Files
*.zip
*.tar.gz
*.rar

# Minified Assets
*.min.css
*.min.js

# Runtime Data
/data/
/uploads/
/backups/
/readme/
/test/
/tests/
/test*
/admin_test.html

# Build Scripts
build.php
build_demo.php

# Logs
*.log
